.admin-buttons {
    text-align: center;
    padding: 20px;
}

.admin-heading {
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    margin: 0 auto; /* Center the container */
    max-width: 450px; /* Set the maximum width */
}

.admin-button {
    padding: 15px 30px; /* Uniform button size */
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Button width 100% of container */
    max-width: 250px; /* Max width to avoid oversized buttons */
}

    .admin-button:hover {
        background-color: #0056b3;
    }
